body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    gap: 20px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color:black;
}

.Daten{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-inline: auto;
    gap: 20px;      
}

input{
    border: 3px solid black;
    width: 50%;
    margin-inline: auto;
    padding: 18px;
}

.ADD{
    border: 3px solid grey;
    margin-inline: auto;
    padding: 10px;
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color:black;
}

.Text{
    border: 3px solid black;
    width: 60%;
    margin-inline: auto;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:black;
}

p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color:rgb(71, 82, 231);
}



